.window-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.window-reg a {
    text-decoration: none;
    background-color: #7bed9f;
    border-radius: 10px;
    color: black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 70px;
    margin-top: 0.5rem;
}

.window-reg p {
    color: red;
    margin: 0.3rem 0;
}

.window {
    margin-top: 200px;
    background-color: #0a192f;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content; /* ограничивает ширину по содержимому */
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
}

.window h1 {
    color: aliceblue;
}

.agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 0.5rem;
}

.agreement p {
    color: #8892b0;
}

.tos, .pp {
    text-decoration: underline;
    cursor: pointer;
    color: #8892b0;
}

.window-reg input {
    margin-bottom: 1rem;
}

.loading {
    color: #8892b0;
}

.submit:hover {
    background-color: #b4f3c6;
}

.modal-win {
    height: 70px;
    width: 400px;
    border-radius: 10px;
    background-color: #7bed9f;
    padding-left: 5px;
    align-items: center;
}